@page "/evidencias/lista"
@inject IRepositorio repositorio
@attribute [Authorize(Roles = "ADMIN")]

<hr />
<h3>Evidencias</h3>
<hr />

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Empleado</th>
            <th>Fecha</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evidencia in Evidencias)
        {
            <tr>
                <td>@evidencia.EvidenciaId</td>
                <td>@evidencia.Empleado.NombreEmpleado @evidencia.Empleado.ApPaterno @evidencia.Empleado.ApMaterno</td>
                <td>@evidencia.FechaCaptura</td>
                <td><a href="@evidencia.Foto" target="_blank">Ver</a></td>
                @*<td><a href="@evidencia.Foto" class="btn btn-success">Descargar</a></td>*@
            </tr>
        }
    </tbody>
</table>

@code {
    List<EntidadEvidencia> Evidencias = new List<EntidadEvidencia>();
    List<EntidadEmpleado> Empleados = new List<EntidadEmpleado>();

    protected override async Task OnInitializedAsync()
    {
        var responseHttp = await repositorio.Get<List<EntidadEvidencia>>("api/evidencias");
        Evidencias = responseHttp.Response;
    }
}
