<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <text>Autorizando...</text>
            </Authorizing>
            <NotAuthorized>
                <text>No estas autorizado para acceder a esta pantalla</text>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>No tienes acceso a esta pantalla</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
